/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  margin-bottom: 50px;
}

#home-bg {
  position: absolute;
  height: 280px;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("images/bgtile.png"), -webkit-linear-gradient(top, #517fa4, #306088);
}

.hero-img {
  padding-top: 80px;
}

.wrap {
  width: 880px;
  margin: 0 auto;
}

.inline-element {
  display: inline-block;
}

.box1 {
  width: 370px;
}
.box2 {
  width: 504px;
}

.brand-img {
  width: 314px;
  margin-bottom: 30px;
}

.home-button {
  vertical-align: middle;
  text-decoration: none;
  float: right;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255, 255, 255, 0.05), inset -1px 0 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #1c5380;
  background-image: -webkit-linear-gradient(top, #6f97b6, #3f729b);
  border-radius: 3px;
  font-weight: bold;
  line-height: 1em;
  margin-top: 15px;
}

.home-button img {
  vertical-align: middle;
  margin-right: 5px;
}

.tab-content {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 20px 45px;
  background: url("../images/frame.png") 6px 6px no-repeat;
}

.tab-content h1 {
  font-size: 27px;
  color: #06365f;
}

.download-btn {
  height: 45px;
}

.footer {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.footer li {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3)
}

.footer li a {
  color: #3f729b;
  text-decoration: none;

}